@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-10 offset-lg-1" id="bg-image">
        <h4 class="text-center mt-5">@DateTime.Now.ToString("dddd dd MMMM yyyy")</h4>
        <hr class="subline-orange" />
        <h3 class="title-link text-center">@Html.ActionLink("Liste des Rendez-Vous du jour", "ListAppointments", "Home")</h3>
        <hr class="subline-orange" />
    </div>
</div>