
.btn-orange {
    background-color: #F79824;
}

.btn-blue {
    background-color: #2B4162;
    color: white;
}

<<<<<<< HEAD
    .btn-blue:hover {
        background-color: #1D304C;
        color: white;
    }

=======
>>>>>>> Ludivine
#navbar-color {
    background-color: #2B4162;
    color: #F79824;
}

nav-link, a {
    color: #F79824;
}

nav-link:hover, a:hover {
    color: #FFFFFF;
}

.title-link a:hover {
    color: #2B4162;
}

.subline-orange {
    border: 1px #F79824 solid;
}

.subline-black {
    border: 1px #000000 solid;
}

footer {
    background-color: #2B4162;
    color: #F79824;
}

a {
    padding-left: 1em;
    padding-top: 1em;
}

.navbar-toggler {
    color: #F79824;
}

#bg-image {
    background-image: url(welcome.png);
    background-size: cover;
}

#bg-image h2 a, #bg-image h3 a {
    opacity: 1;
}
